
<ion-content [fullscreen]="true">
  <div class="image-info-container">
    <img src="assets/img/canjea_tus_pts.png" alt="canjea_tus_pts" id="imgCanjea_tus_pts">
  </div>
  
  <div id="text-card">
    <ion-card-content>
      <p>
        Puedes canjear tus puntos clickeando en la imagen que se encuentra justo abajo de este texto.
      </p>
    </ion-card-content>
  </div>
  <a href="/canjear-puntos">
    <img src="assets/img/canjea_aqui.png" alt="canjea_aqui" id="imgCanjea_aqui">
  </a>  
  <div class="image-info-container">
    <img src="assets/img/contactanos.png" alt="contactanos" id="imgContactanos">
  </div>
  <div id="text-card2">
    <ion-card-content>
      <p>
        +56 9 4294 6899
        <br>
        +56 2 8132 7669
        <br>
        <a href="mailto:cum_pleteria@gmail.com">Correo De Contacto</a>
      </p>
    </ion-card-content>
  </div>
  <img src="assets/img/contacto.png" alt="contacto" id="imgContacto">
  <br>
  <br>
  <br>
</ion-content>
