.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.image-container img {
    max-width: 110%;
    height: auto;
}

#imgNosotros, #imgNuestrasTiendas {
    max-width: 65%;
    height: auto;
}

#imgNuestrasTiendas {
    margin-top: 5px;
}

ion-card-content p {
    font-family: 'GothicA1-Regular', sans-serif; /* Asegúrate de que 'Adelina' esté disponible */
    color: #351512; /* Cambia esto al color que prefieras */
    font-size: 16px; /* Tamaño de la fuente */
    line-height: 1.5; /* Espaciado entre líneas para mayor legibilidad */
}
  
#text-card {
    background-color: #e9dfd1;
}