<ion-content [fullscreen]="true">
  <!-- Card de bienvenida -->
  <div class="image-container">
    <img src="assets/img/bienvenida-cumpleteria.png" alt="Bienvenido a la Cumpletería">
  </div>

  <!-- Texto descriptivo -->
  <div class="image-info-container">
    <img src="assets/img/nosotros.png" alt="NOSOTROS" id="imgNosotros">
  </div>
  <div id="text-card">
    <ion-card-content>
      <p>
        Nos especializamos en ofrecer una experiencia culinaria única que captura la esencia de la comida callejera chilena.
        <br>
        <br>
        En La Cumpletería, estamos comprometidos a brindar productos frescos y de alta calidad que honran la tradición 
        de los completos, con una variedad de ingredientes que puedes personalizar según tus preferencias. Nuestro objetivo es 
        ofrecerte una experiencia gastronómica deliciosa y accesible.
        <br>
        <br>
        Nuestro equipo está formado por apasionados por la gastronomía chilena, y trabajamos con dedicación para asegurar que 
        cada completo sea una celebración de sabor y autenticidad. Valoramos tu satisfacción y nos esforzamos por superar tus 
        expectativas con cada pedido.
        <br>
        <br>
        Gracias por elegirnos para disfrutar de uno de los platos más icónicos de Chile. Estamos encantados de ser parte de tu 
        experiencia culinaria y esperamos seguir sirviéndote con lo mejor de la comida chilena.
        <br>
        <br>
        Para más información o consultas, no dudes en contactarnos. ¡Buen provecho!
      </p>
    </ion-card-content>
  </div>

  <!-- Cards de las tiendas -->
  <div class="image-info-container">
    <img src="assets/img/nuestras-tiendas.png" alt="NUESTRAS TIENDAS" id="imgNuestrasTiendas">
  </div>
  <ion-card style="border-radius: 20px;">
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <iframe 
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.9496223456235!2d-70.5763529!3d-33.5026878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d04b0d3696eb%3A0xb683a242af763120!2sLa%20Pic%C3%A1%20de%20las%20Torres!5e0!3m2!1ses-419!2scl!4v1726278825694!5m2!1ses-419!2scl" 
              width="450" height="150" style="border:0;" allowfullscreen="" loading="lazy" 
             referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card-content>
            <p>Sta. Teresa de Los Andes 4468-4492, Macul, Región Metropolitana</p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card style="border-radius: 20px;">
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <ion-card-content>
            <p>San Joaquín, Región Metropolitana</p>
          </ion-card-content>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <iframe 
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.0364491986847!2d-70.6250515!3d-33.5004288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662daa6d0aa54e9%3A0x644fd2faf4d3bc3e!2sCOMPLETOS%20XL!5e0!3m2!1ses-419!2scl!4v1726279106804!5m2!1ses-419!2scl" 
              width="450" height="150" style="border:0;" allowfullscreen="" loading="lazy" 
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card style="border-radius: 20px;">
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <iframe 
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.9496223456235!2d-70.5763529!3d-33.5026878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d04b0d3696eb%3A0xb683a242af763120!2sLa%20Pic%C3%A1%20de%20las%20Torres!5e0!3m2!1ses-419!2scl!4v1726278436947!5m2!1ses-419!2scl" 
              width="450" height="150" style="border:0;" allowfullscreen="" loading="lazy" 
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card-content>
            <p>Los Mares 5486, Peñalolén, Región Metropolitana</p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
