<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nuevo Producto</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="newProduct.name" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input type="number" [(ngModel)]="newProduct.price" name="price" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-input [(ngModel)]="newProduct.description" name="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">URL Imagen</ion-label>
        <ion-input [(ngModel)]="newProduct.imageUrl" name="imageUrl"></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="addProduct()">Agregar Producto</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
